.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5; 
    padding: 1rem;
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


    